<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>

    <div id="app">
        <div v-if="showBooks">
            <p>{{title}} - {{author}} - {{age}}</p>
        </div>
            
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <div v-show="showBooks">Currently showing books</div>


    </div>

    <script src="app.js"></script>
</body>
</html>